In [5]:
import pandas as pd

We can create a dataframe from a dictionary. THe keys of the dictionary corresponde to columns. 
the values of te dictionary are rows. 
Finally we can cast the dictionary to a dataframe by using DataFrame() from pandas.

In [4]:
SampleDisasters = {"Disasters":["Coal mine", "Santa Maria", "Mount Karthala"], "Country": ["Belgium", "Guatemala", "Comoros"], 
                   "Year":[1901, 1902, 1903]}
type(SampleDisasters)

dict

In [10]:
SampleDisasters_df = pd.DataFrame(SampleDisasters)
print(type(SampleDisasters_df))
SampleDisasters_df.head()

<class 'pandas.core.frame.DataFrame'>

        Disasters    Country  Year
0       Coal mine    Belgium  1901
1     Santa Maria  Guatemala  1902
2  Mount Karthala    Comoros  1903

In [12]:
# we can make a dataframe from one column of another dataframe
x = SampleDisasters_df[["Disasters"]]
type(x)

pandas.core.frame.DataFrame

In [14]:
y = SampleDisasters_df[["Disasters", "Country"]]
y.head()

        Disasters    Country
0       Coal mine    Belgium
1     Santa Maria  Guatemala
2  Mount Karthala    Comoros

In [22]:
#get the first row and first column of a df 
SampleDisasters_df.iloc[:,0]

0         Coal mine
1       Santa Maria
2    Mount Karthala
Name: Disasters, dtype: object

general fomrat for creating dataframe out of dictionary  

pd.Dataframe(Dict)

In [37]:
#make another dictionary based on data from EM-DAT
Disaster_Dictionary = {'Event Name': ['Metro', 'Military fort','Coal mine'], 'Country': ['France', 'Belgium', 'Belgium'], "Year":[1903, 1904, 1905]}
Disasterdf = pd.DataFrame(Disaster_Dictionary)
Disasterdf

      Event Name  Country  Year
0          Metro   France  1903
1  Military fort  Belgium  1904
2      Coal mine  Belgium  1905

In [47]:
#reading excel files
emdat = pd.read_excel("C:\\Users\\17063\\Downloads\\emdat_03_07_2023.xlsx")

In [25]:
emdat["Disaster Subgroup"].unique()

array(['Climatological', 'Technological', 'Geophysical', 'Meteorological',
       'Hydrological', 'Biological', 'Complex Disasters',
       'Extra-terrestrial'], dtype=object)

In [32]:
#disasters from 2000 onwards
# emdat["Year"]>=2000
emdat_after2006 = emdat[emdat["Year"]>=2006]

type(emdat_after2006)

emdat_after2006.count()

Dis No                                       10191
Year                                         10191
Seq                                          10191
Glide                                         1763
Disaster Group                               10191
Disaster Subgroup                            10191
Disaster Type                                10191
Disaster Subtype                              9074
Disaster Subsubtype                            594
Event Name                                    3152
Country                                      10191
ISO                                          10191
Region                                       10191
Continent                                    10191
Location                                      9750
Origin                                        2875
Associated Dis                                2384
Associated Dis2                                524
OFDA Response                                  466
Appeal                                        2684
Declaration                                   3349
AID Contribution ('000 US$)                    250
Dis Mag Value                                 2093
Dis Mag Scale                                 6820
Latitude                                      1569
Longitude                                     1569
Local Time                                     340
River Basin                                    775
Start Year                                   10191
Start Month                                  10129
Start Day                                     9300
End Year                                     10191
End Month                                    10125
End Day                                       9345
Total Deaths                                  8192
No Injured                                    3619
No Affected                                   4924
No Homeless                                    781
Total Affected                                7588
Reconstruction Costs ('000 US$)                 23
Reconstruction Costs, Adjusted ('000 US$)       23
Insured Damages ('000 US$)                     502
Insured Damages, Adjusted ('000 US$)           502
Total Damages ('000 US$)                      2185
Total Damages, Adjusted ('000 US$)            2181
CPI                                          10125
Adm Level                                     6083
Admin1 Code                                   3703
Admin2 Code                                   2994
Geo Locations                                 6083
dtype: int64

Pandas have two kind of data structures:  data frame and series. 

Dataframe: two-dimentional tabular strcture called; besides making dataframe out of existing dataframes, they can be created by dictionaries as shown above where keys act like columns and values in the dictionary play the role of observations. 

Series: one dimentional array of indexed data; Series have one array for data and the other one for indices

In [41]:
Event_Names = emdat['Event Name'] 
type(Event_Names)  #this will make a series

pandas.core.series.Series

In [ ]:
Event_Names = emdat[['Event Name']]  #we used an exta [] and it will make a dataframe
type(Event_Names)  #this will make a dataframe

In [52]:
#Choose multiple columns 
save1 = emdat[['Disaster Group', 'Continent']]

In [56]:
# loc() --> loc[row_label, Column_label]
#iloc() --> iloc[row_index, column_index]

emdat.iloc[19,9]

'Mine'

In [59]:
emdat.loc[19,"Event Name"]

'Mine'

What we did in th epast few cells where sclicing; selecting a few rows and columns from a dataframe

In [61]:
emdat.loc[0:28,'Dis No':'Event Name']

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name
0,1900-9002-CPV,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN
1,1900-9001-IND,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN
2,1901-0003-BEL,1901,3,NaN,Technological,Technological,Industrial accident,Explosion,NaN,Coal mine
3,1902-0012-GTM,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN
4,1902-0003-GTM,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria
5,1902-0010-GTM,1902,10,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria
6,1903-0006-CAN,1903,6,NaN,Natural,Geophysical,Mass movement (dry),Rockfall,NaN,NaN
7,1903-0012-COM,1903,12,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Mount Karthala
8,1903-0011-FRA,1903,11,NaN,Technological,Technological,Miscellaneous accident,Fire,NaN,Metro
9,1904-0006-BEL,1904,6,NaN,Technological,Technological,Miscellaneous accident,Explosion,NaN,Military fort
10,1904-0003-BGD,1904,3,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN
11,1905-0006-BEL,1905,6,NaN,Technological,Technological,Industrial accident,Explosion,NaN,Coal mine
12,1905-0005-CAN,1905,5,NaN,Natural,Geophysical,Mass movement (dry),Rockfall,NaN,NaN
13,1905-0003-IND,1905,3,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN
14,1906-0014-CHL,1906,14,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN
15,1906-0002-COL,1906,2,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN
16,1906-0023-BEL,1906,23,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN
17,1906-0024-BEL,1906,24,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN
18,1906-0027-FRA,1906,27,NaN,Technological,Technological,Transport accident,Water,NaN,"Navire ""Comte de Smet de Nayer"""
19,1906-0010-FRA,1906,10,NaN,Technological,Technological,Industrial accident,Explosion,NaN,Mine
20,1906-0019-GBR,1906,19,NaN,Technological,Technological,Transport accident,Rail,NaN,NaN
21,1906-0015-HKG,1906,15,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN
22,1907-0008-CAN,1907,8,NaN,Technological,Technological,Miscellaneous accident,Collapse,NaN,NaN
23,1907-0006-CHN,1907,6,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN
24,1907-0001-IND,1907,1,NaN,Natural,Biological,Epidemic,Bacterial disease,NaN,Bubonic
25,1908-0014-BEL,1908,14,NaN,Technological,Technological,Industrial accident,Explosion,NaN,Coal mine
26,1908-0011-CAN,1908,11,NaN,Natural,Geophysical,Mass movement (dry),Landslide,NaN,NaN
27,1908-0005-CAN,1908,5,NaN,Technological,Technological,Miscellaneous accident,Fire,NaN,NaN
28,1908-0001-DEU,1908,1,NaN,Technological,Technological,Industrial accident,Other,NaN,Mine